body 

{
	background-color: #e8ddce;
	max-width: 100%;
	max-height: 100%;
}

.menu 

{
	background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
	display: block;
	margin: 0 auto
}


.menu nav ul 

{
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  
}

.menu nav li 

{
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.menu nav li  a 

{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}


.page_content h1

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 36px;
	text-align: center;
}

.page_content h2

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 24px;
	text-align: center;
}

.page_content h3

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 18px;
	text-align: center;
}

.page_content img 

{
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin: auto;
	border: 5px;
	border-style: dashed;
	border-color: #333;
}

