body

{
	background:  -webkit-gradient(linear,0% 0%, 0% 100%,from(#f5eae3),to(#ffebe9));
	
}

.content_wrapper nav 

{
	margin-left: 31%;
	margin-top: 30px;
}

.content_wrapper nav a 

{	text-decoration: none;
	margin-left: 3px;
	color: #333;
	font-size: 20px;
}

.content_wrapper nav a:hover 

{	text-decoration: none;
	background-color: #fff8e3;
	color: #333;
}


section h1

{
	
	font-family: Capitals;
	margin-left: 18%;
	font-size: 28px;
}


#clockHolder

{
    width:755px;
    margin:0px auto 0px auto;
    position:relative;
    top:0px;
    left:0px;
}

#sec

{
    display:block;
    position:absolute;
}

#min

{
    display:block;
    position:absolute;
}

#hour

{
    display:block;
    position:absolute;
}

.rotatingWrapper

{
    position:absolute;
    width:755px;
    height:755px;
    top:0px;
    left:0px;
}



