body 

{
	background-color: #e8ddce;
	max-width: 100%;
	max-height: 100%;
}

.menu 

{
	background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
	display: block;
	margin: 0 auto
}


.menu nav ul 

{
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0.5%;
}

.menu nav li 

{
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-top: 3px;
  text-align: center;
}

.menu nav li  a 

{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}


.content_wrapper section h1 

{
	font-family: Perpetua Titling MT;
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-top: 30px;
}
.page_content section h2

{	font-family: Times;
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-top: 25px;
}

.page_wrapper section h2

{	font-family: Times;
	font-size: 18px;
	color: #333;
	text-align: center;
}

.page_wrapper section img 

{	max-height: 300px;
	max-width: 300px;
	margin-top: 20px;
	margin-left: 37%;
	border-style: solid;
	border-width: 10px;
	border-color: #555;
}

.page_content section h3

{
	font-family: Times;
	font-size: 14px;
	color: #333;
	text-align: center;
}

#canvas

{	
	display: block;
	margin: 0 auto; 
}

section h3 a 

{
	text-decoration: none;
	background-color: #ccc;
	margin-left: 5px;
	color: #333;	
}

section h3 a:hover 

{
	text-decoration: none;
	padding: 12px;
	background-color: #fff8e3;
	margin-left: 5px;
	color: #333;	
}

section h3

{
	font-family: Times;
	font-size: 16px;
	text-align: center;
}