body 

{
	 background-color: #f7fbff;
}

section h1

{	text-align: center;
	color: #333;
	font: 1.8em PT;
}

section h1 span

{
	font: italic 1.200em PT;
}



#main_wrapper nav a

{
	text-decoration: none;
	color: #4f4f4f;
	font: 1.125em PT;
	margin-left: 510px;
}

#main_wrapper nav a:hover

{
	color: #333;
}

#main_wrapper nav a:visited

{
	color: #4c4c4c;
}


#main_wrapper section h2

{
	color: #333;
	font: 1.125em PT;
	margin-left: 2%;
	
}

#main_wapper a, a:visited

{
	color: #333;
	font: 1.125em PT;
	margin-left: 2%;
}

#main_wrapper h3

{
	color: #333;
	font: 1.125em PT;
	text-align: center;
}

#main_wrapper ol li

{
	margin: 0.938em;
	
}

#main_wrapper section ol li span

{
	color: #333;
	font: 1.125em PT bold;
}

#board_wrapper img

{	max-width: 56.250em; 
	max-height: 56.250em;
	margin: 2%;
	margin: auto;
	margin-left: 18.750em;
}

#clock video

{
	margin-left: 25%;
	margin-bottom: 5%;
}

#player img 

{
	max-width: 3.125em;
	max-height: 3.125em;
	margin-left: 18%;
	position: relative; top: 6.250em;
}

#dicestyle ul li  

{
	list-style: none;
}

#dicestyle img

{
	max-width: 3.125em;
	max-height: 3.125em;
	margin-left: 21%;
}

form input

{
	margin-left: 20%;
}

#kort ol li 

{
	list-style: none;
	margin-left: 31.250em;
}

#kort ol li img 

{
	margin: 0.625em;
}
